@page "{id}"
@model ServiceHosts.Pages.ArticleDetailsModel
@{
    Layout = "Shared/_Layout";
}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">@Model.articleDetails.Title</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="/Index">صفحه اصلی</a>
                            </li>
                            <li class="active">وبلاگ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-lg-9 order-1 order-lg-1">
                                <div class="blog-page-content">
                                    <div class="blog-single-post-container">
                                        <h3 class="post-title">@Model.articleDetails.Title</h3>
                                        <div class="post-meta">
                                            <p>
                                                <span><i class="fa fa-user-circle"></i> انتشار توسط: </span> <a href="#">admin</a> <span class="separator">|</span> <span>
                                                    <i class="fa fa-calendar"></i> تاریخ: <a href="#">
                                                        @Model.articleDetails.PublishDate
                                                    </a>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="single-blog-post-media">
                                            <div class="image">
                                                <img src="~/ProductPictures/@Model.articleDetails.Picture" class="img-fluid" 
                                                     alt="@Model.articleDetails.PictureAlt" title="@Model.articleDetails.PictureTitle">
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            @Html.Raw(Model.articleDetails.Description)
                                        </div>
                                        <div class="tag-area">
                                            <span>تگ ها: </span>
                                            <ul>
                                                @foreach (var item in Model.articleDetails.KeywordList)
                                                {
                                                    <li><a asp-page="/Search" asp-route-value="@item">@item</a>,</li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="social-share-buttons">
                                            <h3>اشتراک گذاری</h3>
                                            <ul>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google-plus" href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="pinterest" href="#">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="comment-section">
                                        <h3 class="comment-counter">تعداد نظرات: @Model.articleDetails.CommentList.Count</h3>
                                        <div class="comment-container">
                                            
                                            @foreach (var comment in Model.articleDetails.CommentList)
                                            {
                                                <div class="single-comment" id="comment-@comment.Id">
                                                    <span class="reply-btn">
                                                        <a href="#postComment" onclick='$("#ParentId").val(@comment.Id)'>پاسخ</a>
                                                    </span>

                                                    <div class="image">
                                                        <img src="~/Theme/assets/img/blog/comment-icon.png" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="user">
                                                            admin
                                                            <span class="comment-time">
                                                                @comment.CreationDate
                                                            </span>
                                                            
                                                            @if (comment.ParentId > 0)
                                                            {
                                                                <p>
                                                                    <span>در پاسخ به: </span><a href="#comment-@comment.ParentId">@comment.parentName</a>
                                                                </p>
                                                            }
                                                        </h3>
                                                        <p class="comment-text">
                                                            @comment.Message
                                                        </p>
                                                    </div>

                                                </div>
                                            }
                                        </div>

                                        <div class="comment-form-container">
                                            <h3 class="comment-form-title">نظر خود را بنویسید</h3>
                                            <p>
                                                آدرس ایمیل شما منتشر نخواهد شد. موارد ضروری با علامت * مشخص شده اند
                                            </p>
                                            <div class="comment-form" id="postComment">
                                                <form action="" method="post">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>نظر شما</label>
                                                                <textarea name="message" id="messaeg" placeholder="نظر خود را بنویسید..."></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>نام <span class="required">*</span></label>
                                                                <input type="text" name="name" placeholder="مثال: علی علوی">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>ایمیل <span class="required">*</span></label>
                                                                <input type="text" name="email" placeholder="مثال: contact@atriya.com">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>وبسایت</label>
                                                                <input type="text" name="website" placeholder="مثال: http://www.atriya.com">
                                                            </div>
                                                        </div>
                                                        
                                                        <input type="hidden" name="OwnerRecordId" value="@Model.articleDetails.Id" />
                                                        <input type="hidden" name="ArticleSlug" value="@Model.articleDetails.Slug"/>
                                                        <input type="hidden" name="ParentId" id="ParentId" value="" />

                                                        <div class="col-lg-12">
                                                            <button type="submit" class="comment-btn"
                                                                    name="submit">
                                                                ارسال نظر
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <!--=======  End of comment form  =======-->
                                        </div>

                                        <!--=======  End of comment form container  =======-->

                                    </div>

                                    <!--=====  End of Comments section  ======-->
                                </div>
                            </div>
                            <div class="col-lg-3 order-2 order-lg-2">
                                <!--=======  page sidebar wrapper =======-->
                                <div class="page-sidebar-wrapper">
                                    <!--=======  single sidebar widget  =======-->
                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">دسته بندی مقالات</h4>
                                        <ul class="single-sidebar-widget__category-list">
                                            @foreach (var item in Model.CategoryList)
                                            {
                                                <li class="has-children">
                                                    <a asp-page="/ArticleCategory" asp-route-id="@item.Slug" class="active">
                                                        @item.Name <span class="counter">@item.ArticlesCount</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>

                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">مقالات اخیر</h4>
                                        <div class="block-container">
                                            @foreach (var item in @Model.articleList)
                                            {
                                                <div class="single-block d-flex">
                                                    <div class="image">
                                                        <a asp-page="/ArticleDetails" asp-route-id="@item.Slug">
                                                            <img src="~/ProductPictures/@item.Picture"class="img-fluid"
                                                                 alt="@item.PictureAlt" title="@item.PictureTitle">
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <p>
                                                            <a asp-page="/ArticleDetails" asp-route-id="@item.Slug">
                                                                @item.Title
                                                            </a> <span>@item.PublishDate</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">نظرات کاربران</h4>
                                        <div class="block-container">
                                            <div class="single-block comment-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-image-format.html">
                                                        <img src="assets/img/blog/comment-icon.png"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <span>Admin Says</span> <a href="blog-post-image-format.html">
                                                            The biggest lie in
                                                            plant
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                            <!--=======  End of single block  =======-->
                                            <!--=======  single block  =======-->

                                            <div class="single-block comment-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-image-gallery.html">
                                                        <img src="assets/img/blog/comment-icon.png"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <span>Admin Says</span><a href="blog-post-image-gallery.html">
                                                            How to improve plant
                                                            quality
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                            <!--=======  End of single block  =======-->
                                            <!--=======  single block  =======-->

                                            <div class="single-block comment-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-audio-format.html">
                                                        <img src="assets/img/blog/comment-icon.png"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <span>Admin Says</span><a href="blog-post-audio-format.html">
                                                            101 ideas for
                                                            plant
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                            <!--=======  End of single block  =======-->
                                            <!--=======  single block  =======-->

                                            <div class="single-block comment-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-video-format.html">
                                                        <img src="assets/img/blog/comment-icon.png"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <span>Admin Says</span><a href="blog-post-video-format.html">
                                                            No more mistakes with
                                                            plant
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                            <!--=======  End of single block  =======-->

                                        </div>

                                        <!--=======  End of block container  =======-->
                                    </div>
                                    <!--=======  End of single sidebar widget  =======-->
                                    <!--=======  single sidebar widget  =======-->
                                    <div class="single-sidebar-widget">
                                        <h4 class="single-sidebar-widget__title">برچسب ها</h4>
                                        <ul class="single-sidebar-widget__tag-list">
                                            @foreach (var item in Model.articleDetails.KeywordList)
                                            {
                                                <li>
                                                    <a asp-page="/Search" asp-route-value="@item">@item</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <!--=======  End of single sidebar widget  =======-->
                                </div>
                                <!--=======  End of page sidebar wrapper  =======-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

